 
@font-face{
		font-family: myFont;
		src:url(../fonts/Raleway-Medium.ttf);
	}
	body{
		font-family: myFont;
       overflow-x: hidden;
	}
	
.navbar-brand{
	letter-spacing: 2px;
}
 .navbar {
    border-radius: 0;
 color: white;
}
.navbar-right li a{
  		font-size: 12px;
  		font-weight: bold;
  		letter-spacing: 2px;
  		text-transform: uppercase;
  	}
.navbar-right  .dropdown li a{
  		font-size: 12px;
  		font-weight: bold;
  		letter-spacing: 1px;
  		text-transform: capitalize;
  	}
.navbar-right {
	margin-right: 100px;
  	          }
nav .navbar-nav .navbar-right{

  	    color: white;
  	}
 .navbar-inverse .navbar-nav > li > a {
	color:white;
}
.navbar-inverse .navbar-header .navbar-brand{color: white;}
/*section1*/

.sec1{
	background:linear-gradient(45deg,#243b55,#141e30);
    width: 100%;
   height: 400px;
}

.sec1 .row .head_margin{
	margin-top: 150px;
}
 .sec1 .centered{
	font-size:30px;
	letter-spacing: 1px; 
	color:white;
}
/*hr .top{
	background-color: white;
	height: 2px;
	width: 100px;
	border: 0;
}*/
  h3.heading {font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #3a3a3a;
    margin-top: 50px;
}
/*--section1--*/
.sec2{
	background-color: white;
min-width: 100%;
min-height: 450px;
}
  .sec2 .no_pad .about_us{
	background:#eee;
	width: auto; 
    padding: 25px 50px;
}
.sec2 .no_pad .about_us p{
	overflow: hidden;
	text-overflow: ellipsis;
}
.about_right{
	padding-left: 0;
}
.about_right img{
	width: 100%;
	height: auto;
}
p{
	font-size: 13px;
	letter-spacing: 1px;
	word-spacing: 1px;
 }

ul.about_margin{
	margin-top: 5px;
 	margin-left: 0px;
  line-height: 13px;
font-size: 12px;letter-spacing: 1px;
word-spacing: 1px;
}
.about_margin li{
	line-height: 20px;
}
/*our service*/
.our_Service h3{
	margin-top: 50px;
}
.in_padd{
		padding: 5px;
	}
	.service_box{
		background-color: #243b55;
		padding: 20px;
	}
	.boxes{
		border: 1px solid lightgrey;
		padding: 5px	
	}
	  .boxes .hover1 .img_box{
	    
		overflow: hidden;
		margin-bottom: 10px;
	 }
	 .img_box img{
	 	width:100%;
	    height: 150px;
	 }
	 #service{
	 	overflow-x: hidden;
	 }
	.our_Service{
		padding-top: 20px;
	}
	.box1{
		 background-color:#243b55;
		 padding-bottom: 30px;
		 padding-top: 20px;
	}
	.box1 .heading .head{
		color:white;
	}
	.box2 {
		background-color: #eee;
	padding-bottom: 29px;
	padding-top: 150px;
          }
	.box3{
		width: 500px;
		background-color: #eee;
		color: #243b55;
		margin-left: 60px;
		margin-right: 60px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    padding: 10px;}
	.box4{
		width: 500px;
		height: 200px;
		background-color:#243b55;
		color: white;
		margin-left: 60px;
		margin-right: 60px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	 padding: 10px;}


/*--our service*/
/*our team*/
.container-fluid .in_color{
	min-width: 100%;
min-height: 500px;
}
.boxs_of_lg{
	padding: 10px 85px;
}
 
 .box_lg img{
 	width: 100px;
 	height: 100px;
 }
 #service{
 	margin-bottom: 50px;
 }

#pad{
	background-color: whitesmoke;
	width: 100%;
	min-height: 500px;
}
.conatiner-fluid .pad{
	background-color: whitesmoke;
}
.for_pad{
	padding: 150px;
	width: 100%;
}
 .button_prop button{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-top: 25px;
	background-color:#243b55;
	border-radius: 0;
	margin-bottom: 40px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px 60px;
	margin-top: 40px;
}
.button_prop :hover{
	background-color:#141e30;
 color: white;}
.hover1 img {
	-ms-transform: rotate(15deg) scale(1.4);
	-o-transform: rotate(15deg) scale(1.4);
	-moz-transform: rotate(15deg) scale(1.4);
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
}

.hover1:hover img,
.w3_agile_services_grid:hover .hover06 figure img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-moz-transform: rotate(0) scale(1);
	-o-transform: rotate(0) scale(1);
	-ms-transform: rotate(0) scale(1);
}
.icon1{
	position: static;
	margin-left: 80%;
	transform: translateX(-50%);
	margin-top: -35px;
	width: 55px;
	height: 55px;
	background: white;
	border-radius: 50px;
	border: 2px solid #fff;
	text-align: center;
	border: 1px solid black;
}

.icon1 i {
	font-size: 1.6em;
	color:#141e30;
	line-height: 2.5em;

}
.sec4{
	background:linear-gradient(45deg,#243b55,#141e30);
    width: 100%;
    height: 400px;
}
 .top hr{
 	border:0;
 	background-color:#141e30 ;
 	width: 80px;
 	height:2px;
    }
.sec5{
	padding-left: 60px;
	padding-right: 60px;
    padding-bottom: 50px;
}
.for_hover{
	background-color: #eee;
}
.main_box{
	background-color: transparent;
}
.for_hover .main_box h4{color: #00bffe;
 }
.for_hover :hover{
 	background: #00bffe;
}
   .for_hover :hover p{
color: white;
   } 
   .for_hover :hover h4{
color: white;
   } 

@media(min-width: 1100px){
	.sec2 .no_pad{
		padding: 0;
	}
	.about_us{
		height:450px;
	}
	.navbar-inverse  .navbar-header .navbar-brand{
		margin-left: 100px;
	}
	.button_prop button{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-top: 25px;
	background-color:#243b55;
	border-radius: 0;
	margin-bottom: 40px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px 60px;
	margin-top: 40px;
}
	.box3{
		width: 500px;
		min-height: 100px;
		background-color: #eee;
		color: white;
		margin-left: 60px;
		margin-right: 60px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	 padding: 10px;
	}
	.box4{
		width: 500px;
		height: 200px;
		background-color:#243b55;
		color: white;
		margin-left: 60px;
		margin-right: 60px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	 padding: 10px;
	}
	.boxs_of_lg{
		padding: 10px 85px;
	          }
	.box2{
		padding-top: 155px;
	 padding-bottom: 25px;
	}
	.sec5{
	padding-left: 80px;
	padding-right: 80px;
    padding-bottom: 50px;
}
.box_lg img{
 	width: 100px;
 	height: 100px;
 }
 .about_image5 img{
	width: 100%;
	height: auto;
}

}

@media(max-width: 1100px){
	.sec2 .no_pad{
		padding: 0;
	}
	.about_us{
		min-height:330px;
	}
	.navbar-inverse  .navbar-header .navbar-brand{
		margin-left: 50px;
	}
	.button_prop button{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-top: 25px;
	background-color:#243b55;
	border-radius: 0;
	margin-bottom: 40px;
	margin-left: 24px;
	margin-right: 24px;
	padding: 10px 60px;
	margin-top: 40px;
}
.box3{
		width: 300px;
		background-color: #eee;
		color: white;
		margin-left: 10px;
		margin-right: 10px;
	    margin-top: 15px;
	    margin-bottom: 15px;
       padding:10px;
   }
   .box4{
		width: 500px;
		height: 200px;
		background-color:#243b55;
		color: white;
		margin-left: 10px;
		margin-right: 10px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	 padding: 10px;
	}
	.box1 .boxs_of_lg{
		padding: 10px;
	}
	.box2{
		padding-top: 0px;
	}
	.sec5{
		padding-left: 20px;
		padding-right: 20px;
	padding-bottom: 30px;	
	}
	.box_lg img{
 	width: 100px;
 	height: 100px;
 	margin-left: 92px;
 	margin-right: 92px;
 }
 .about_image5 img{
	width: 100%;
	height: auto;
	margin-left:0px;
	margin-right:0px;
}
}
@media(max-width: 500px)
{
 .boxs_of_lg{
padding: 10px;
	}
	.box2{
		padding-top: 0px;
	}
	.sec5{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
	.box_lg img{
 	width: 100px;
 	height: 100px;
 	margin-left: 92px;
 	margin-right: 92px;
 }
 .about_image5 img{
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
}
}
/*media*/
.center_all{
	display: flex;
	justify-content: center;
	align-items: center;
}
.media_round{
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	float: left;
	color: white;
	margin-right: 10px;
	transform: rotate(-360deg);
	transition: all .5s;
	background-color: white;
}
.facebook{
	color: rgb(59, 89, 152);
}
.facebook:hover{
	transform: rotate(0);
}
.twitter{
	color: rgb(29,161,242);
}
.twitter:hover{
	transform: rotate(0);
}
.linkedin{
	color: rgb(0,119,181);
}
.linkedin:hover{
	transform: rotate(0);
}
.google{
	color: rgb(221, 75, 57);
}
.google:hover{
	transform: rotate(0);
}
/*footer*/
footer{
	background: #161616;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}
footer p{
	color: white;
	font-size: 12px;
	margin-top: 10px;
	letter-spacing: 1px;
}
.center_all1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.media_round1{
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	float: left;
	color: white;
	margin-right: 10px;
	transform: rotate(-360deg);
	transition: all .5s;
}
.facebook1{
	background: rgba(59, 89, 152,0.6);
}
.facebook1:hover{
	background: rgba(59, 89, 152);
	transform: rotate(0);
}
.twitter1{
	background: rgba(29,161,242,0.6);
}
.twitter1:hover{
	background: rgba(29,161,242);
	transform: rotate(0);
}
.linkedin1{
	background: rgba(0,119,181,0.6);
}
.linkedin1:hover{
	background: rgba(0,119,181);
	transform: rotate(0);
}
.google1{
	background: rgba(221, 75, 57,0.6);
}
.google1:hover{
	background: rgba(221, 75, 57);
	transform: rotate(0);
}
.contact1{
	     background-color:#243b55;
		 padding-bottom: 30px;padding-top: 50px;padding-right: 80px;padding-left: 80px
		}
		.contact2{
			background-color: #eee;
	        padding-bottom: 30px;
	        padding-top: 75px;
		}
		.contact2 .white_circle{
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 30px;
}	
 .white_circle i{
	font-size: 45px;color:#243b55;
}
 h3.formcontact{
	margin-top: 40px;color: white;
}
.hrcolor hr{
	background-color: white;height: 2px;width: 100px;border: 0;
}
/*.horizontal{
	background-color: white;
	height: 2px;
    width: 100px;
    border: 0;
}*/
 .formbutton .btn-default{
						border-radius: 0;
						background-color: tomato;
						padding: 15px 50px;
						border:0;
						color: white;
						font-weight: bold;
						letter-spacing: 1px;
					}
					input[type="text"],input[type="email"],input[type="number"]{
						width: 100%;height: 50px;border-radius: 0;border-left: 3px solid #eee;
						border-color: #eee;background-color: transparent;

					}
					/*-form-*/
					/*aboutus page*/
.sec10 .about1{
margin-top: 90px;
margin-bottom: 60px;
}
.sec10 .about1 h3{
	font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #3a3a3a;
    margin-top: 50px;
}

.left1{
	margin-left: 60px;
	margin-right: 60px;
}
 .para1 {
	margin: 0px;
}
.para3 {
	margin: 0px;
}
.para1::first-letter{
	font-size: 30px;
	color: tomato;
}
.para4{
	margin-top: 50px;
	margin-bottom: 50px;
}
.about_image1 img{
	width: 100%;
	height: auto;
}
.about_image5 img{
	width: 100%;
	height: 500px;
}
/*--aboutus page--*/
/*services explore*/
.new_ul1{
	margin-left: -20px;
}
.left1 .business_heading{
	margin-top: 25px;
	margin-bottom: 27px;
}
ul.demo1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list_margin{
	margin-top:10px;
}
.list_margin1{
	margin-left: 40px;
}
.f_margin{
	margin-top: 20px;
}
